* text=auto !eol
.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
/AndroidManifest.xml -text svneol=unset#text/plain
assets/support -text
/project.properties -text
res/drawable-hdpi/finance_bkg.jpg -text
res/drawable-hdpi/header.jpg -text
res/drawable-hdpi/ic_launcher.png -text
res/drawable-hdpi/ic_menu_refresh.png -text
res/drawable-hdpi/logo.png -text
res/drawable-hdpi/portfolio.png -text
res/drawable-hdpi/tool_list_bkg.jpg -text
res/drawable-ldpi/finance_bkg.jpg -text
res/drawable-ldpi/header.jpg -text
res/drawable-ldpi/ic_launcher.png -text
res/drawable-ldpi/ic_menu_refresh.png -text
res/drawable-ldpi/logo.png -text
res/drawable-ldpi/portfolio.png -text
res/drawable-ldpi/tool_list_bkg.jpg -text
res/drawable-mdpi/finance_bkg.jpg -text
res/drawable-mdpi/header.jpg -text
res/drawable-mdpi/ic_launcher.png -text
res/drawable-mdpi/ic_menu_refresh.png -text
res/drawable-mdpi/logo.png -text
res/drawable-mdpi/portfolio.png -text
res/drawable-mdpi/tool_list_bkg.jpg -text
res/layout/about_activity.xml -text
res/layout/advanced_options_row.xml -text
res/layout/custom_add_new_portfolio_dialog.xml -text
res/layout/custom_add_new_tool.xml -text
res/layout/custom_advanced_options_dialog.xml -text
res/layout/custom_edit_portfolio_dialog.xml -text
res/layout/custom_edit_selected_tool_dialog.xml -text
res/layout/custom_update_option_dialog.xml -text
res/layout/help_activity.xml -text
res/layout/main.xml -text svneol=unset#text/plain
res/layout/portfolio_listview_items.xml -text svneol=unset#text/plain
res/layout/splashscreen.xml -text
res/layout/tool_details.xml -text
res/layout/tool_details_row.xml -text
res/layout/tool_list_activity.xml -text
res/layout/tool_listview_items.xml -text
res/layout/wishlist_activity.xml -text
res/layout/wishlist_listview_items.xml -text
res/menu/add_portfolio_menu.xml -text svneol=unset#text/plain
res/menu/add_share_menu.xml -text svneol=unset#text/plain
res/menu/select_portfolio_context_menu.xml -text svneol=unset#text/plain
res/menu/tool_detail_menu.xml -text
res/menu/wishlist_menu.xml -text
res/values/strings.xml -text svneol=unset#text/plain
serverside/Quotes/Quotation.java -text
serverside/Quotes/QuotationContainer.java -text
serverside/Quotes/QuotationType.java -text
serverside/Quotes/Quotation_Bond.java -text
serverside/Quotes/Quotation_Fund.java -text
serverside/Quotes/Quotation_Invalid.java -text
serverside/Quotes/Quotation_Share.java -text
serverside/Requests/Request.java -text
serverside/Requests/RequestContainer.java -text
serverside/Requests/RequestType.java -text
serverside/myUtils/UtilFuncs.java -text
serverside/other/TypeSiteObject.java -text
src/it/dev/AboutActivity.java -text
src/it/dev/HelpActivity.java -text
src/it/dev/MyFinanceActivity.java -text svneol=unset#text/plain
src/it/dev/MyFinanceDatabase.java -text svneol=unset#text/plain
src/it/dev/Splashscreen.java -text
src/it/dev/SupportDatabaseHelper.java -text
src/it/dev/ToolDetailsActivity.java -text
src/it/dev/ToolObject.java -text
src/it/dev/WishlistActivity.java -text
src/it/util/Conn.java -text svneol=unset#text/plain
src/it/util/ConnectionUtils.java -text svneol=unset#text/plain
src/it/util/ResponseHandler.java -text
src/it/util/UpdateTimeTask.java -text
src/it/util/UpdateUtils.java -text
src/mainpackage/RequestHandler.java -text
