* text=auto !eol
.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
/AndroidManifest.xml -text svneol=unset#text/plain
/project.properties -text
res/drawable-hdpi/ic_launcher.png -text
res/drawable-hdpi/ic_menu_refresh.png -text
res/drawable-ldpi/ic_launcher.png -text
res/drawable-ldpi/ic_menu_refresh.png -text
res/drawable-mdpi/ic_launcher.png -text
res/drawable-mdpi/ic_menu_refresh.png -text
res/layout/bond_details.xml -text svneol=unset#text/plain
res/layout/custom_add_new_portfolio_dialog.xml -text
res/layout/custom_add_new_tool.xml -text
res/layout/custom_edit_portfolio_dialog.xml -text
res/layout/fund_details.xml -text svneol=unset#text/plain
res/layout/main.xml -text svneol=unset#text/plain
res/layout/portfolio_listview_items.xml -text svneol=unset#text/plain
res/layout/share_details.xml -text svneol=unset#text/plain
res/layout/tool_list_activity.xml -text
res/layout/tool_listview_items.xml -text
res/layout/update_option.xml -text svneol=unset#text/plain
res/menu/add_portfolio_menu.xml -text svneol=unset#text/plain
res/menu/add_share_menu.xml -text svneol=unset#text/plain
res/menu/select_portfolio_context_menu.xml -text svneol=unset#text/plain
res/values/strings.xml -text svneol=unset#text/plain
serverside/Quotes/Quotation.java -text
serverside/Quotes/QuotationContainer.java -text
serverside/Quotes/QuotationType.java -text
serverside/Quotes/Quotation_Bond.java -text
serverside/Quotes/Quotation_Fund.java -text
serverside/Quotes/Quotation_Share.java -text
serverside/Requests/Request.java -text
serverside/Requests/RequestContainer.java -text
serverside/Requests/RequestType.java -text
serverside/myUtils/UtilFuncs.java -text
src/it/dev/BondDetailsActivity.java -text svneol=unset#text/plain
src/it/dev/FundDetailsActivity.java -text svneol=unset#text/plain
src/it/dev/MyFinanceActivity.java -text svneol=unset#text/plain
src/it/dev/MyFinanceDatabase.java -text svneol=unset#text/plain
src/it/dev/ShareDetailsActivity.java -text svneol=unset#text/plain
src/it/dev/ToolListActivity.java -text
src/it/dev/UpdateOptionActivity.java -text svneol=unset#text/plain
src/it/util/Conn.java -text svneol=unset#text/plain
src/it/util/ConnectionUtils.java -text svneol=unset#text/plain
src/it/util/ResponseHandler.java -text
src/mainpackage/RequestHandler.java -text
